<form action="/artist-search", method="GET">
        <input type ="text" name = "artist" id="artist-input"placeholder="The Beetles"/>
        <input class="btn btn-primary home-search" type="submit" name="Search for an Artist" />
    </form>